.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productSpace{
  margin-left: 2rem;
  padding: 1rem;
  width: 95vw;
    padding-left: 10vw;
  /* height: 1000vh; */
  
  & #productPresentation{
    display: flex;
    height: 100%;
    .carousel {
      .slide img {
        width: 75%;
        display: inline;
      }

      & .thumbs {
        width: 40%;
      }

      & .slider-wrapper{
        height: 115rem!important;

        & ul{
          height: 24rem;
        }
      }
  }
  & #productDetails{
    overflow: overlay;
    height: 80vh;
    /* border: 2px solid blue; */
    
    .ppt{
      height: 200vh;
      /* border: 2px solid red; */

    }
  }

}
}

/* go back button */
.gb-btn{position: absolute;
  left: 0px;
 }

 .t-left{
  text-align: left;
 }